[submodule "extern/libft"]
	path = extern/libft
	url = https://github.com/s-t-a-n/libft.git
[submodule "extern/libvector"]
	path = extern/libvector
	url = https://github.com/s-t-a-n/libvector.git
[submodule "extern/libhashmap"]
	path = extern/libhashmap
  url = https://github.com/harou24/libhashmap.git
[submodule "extern/libprintf"]
	path = extern/libprintf
	url = https://github.com/s-t-a-n/libprintf.git
[submodule "extern/libgnl"]
	path = extern/libgnl
	url = https://github.com/s-t-a-n/libgnl.git
[submodule "extern/libpair"]
	path = extern/libpair
	url = https://github.com/harou24/pair.git
[submodule "extern/libshiva"]
	path = extern/libshiva
	url = https://github.com/s-t-a-n/shiva.git
