[submodule "lib/libft"]
	path = extern/libft
	url = https://github.com/s-t-a-n/libft.git
[submodule "lib/libvector"]
	path = extern/libvector
	url = https://github.com/s-t-a-n/libvector.git
[submodule "lib/libhashmap"]
	path = extern/libhashmap
	url = git@github.com:harou24/libhashmap.git
[submodule "extern/get_next_line_lib"]
	path = extern/get_next_line_lib
	url = git@github.com:harou24/get_next_line_lib.git
